<% provide(:title, "Blog") %>

	<div class="container well">
		<h1 class="text-center">My Blog</h1>
		<p>The heroku command creates a new subdomain just for our application, available for immediate viewing. There’s nothing there yet, though, so let’s get busy deploying.</p>
	</div>


