@import "bootstrap";

.blue {
	background: #ffa07a;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
}
.blue p {
	position: relative;
	text-align: left;
	margin-bottom: 30px;
}
.projects {
	background-color: #ffa07a;
	height: 550px;
}
.home {
	background-image: url("/assets/water.jpg");
	height: 550px;
}